
@import "tailwindcss";
@theme {
  --color-Background-light: #F7F6FF;
  --color-Background-dark:#090357;
  --color-Green-text:#3CBB16;
  --color-Primary-dark:#0F7DC1;
 
    --color-veronika:#1D1A6A;

  --color-Primary-super-light:#ecfeff;
  --color-Primary-main:#2CA1EA;
  --color-Primary-light:#D7EEFD;
  --color-Red-background:#FF5959;
  --color-Red-text:#D31A1A;
        --font-vazirmatn:Vazirmatn, "Vazirmatn", "Vazirmatn"; 
          --animate-fade-in-scale: fade-in-scale 0.7s ease-out;
  --animate-fade-in: fade-in 1.3s ease-out; /* New animation */





}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/IRANSansXV-v2.woff") ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IranSans", sans-serif; /* Fallback to sans-serif */

}