@import "tailwindcss";
@theme {
  --color-Background-light: #f7f6ff;
  --color-Background-dark: #090357;
  --color-Green-text: #3cbb16;
  --color-Primary-dark: #0f7dc1;

  --color-veronika: #1d1a6a;

  --color-Primary-super-light: #ecfeff;
  --color-Primary-main: #2ca1ea;
  --color-Primary-light: #d7eefd;
  --color-Red-background-light: #ff5959;
  --color-Red-text: #d31a1a;
  --color-Red-Background:#ff59594d;
  --font-vazirmatn: Vazirmatn, "Vazirmatn", "Vazirmatn";
  --animate-fade-in-scale: fade-in-scale 0.7s ease-out;
  --animate-fade-in: fade-in 1.5s ease-out; /* New animation */
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/IRANSansXV-v2.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IranSans", sans-serif; /* Fallback to sans-serif */
}
